.footer {
    background-color: #131515;
    color:#f2f2f2;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.footerGlassEffect {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    width: 96%;
}

.footerHeader {
    padding: 12px 0;
}

.footerRow {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start;

}

.iconsArrangement {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

.newLogo {
    width: 150px;
    height: 150px;
}
