.background {
    background-color: #131515;
    color:grey;
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

.section {
    width: 33.3%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.section:hover {
    color:#f2f2f2;
    background-color: grey;
}

.buttonSection {
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: center;
}

.button {
    margin-bottom: 3%;
    position:relative;
    border: 1px solid  #f2f2f2;
    color: #f2f2f2;
}

.button:hover{
    background-color: #f2f2f2;
    color: #131515;
    border: 1px solid  #f2f2f2;
}
