@font-face {
  font-family: 'SoinsSansProLight';
  src: local('SoinsSansProLight'), url('./fonts/Stawix - SoinSansPro-Light.otf') format('opentype');
  font-size: small;
}

body {
  background-attachment: fixed;
  margin:0;
  padding: 0;
  color: #f2f2f2;
  background-color: #131515;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #3D3D3D;
}

